*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: normal;
}

.center {
    text-align: center;
}

input[type=button]{
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;    
}

button {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
}

button:hover{
    background-color: lightgray;
}

button:active{
    background-color: white;
}

input {
    margin: 10px;
}

.login {
    width: 100%;
    height: 100vh;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
    display: flex;
}

.login label {
    color:darkblue;
}

.login button:hover{
    background-color: lightgray;
}

.login button:active{
    background-color: white;
}

.login form {
    margin: auto;
}

.registration {
    width: 100%;
    height: 100vh;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
    display: flex;
}

.registration label {
    color:darkblue;
}

.registration button:hover{
    background-color: lightgray;
}

.registration button:active{
    background-color: white;
}

.registration form {
    margin: auto;
}

.registration input[type=button] {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
}

.registration input[type=button]:active{
    background-color: white;
}

.registration input[type=button]:hover{
    background-color: lightgray;
}

.home {
    width: 100%;
    height: 100vh; 
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
}

.home label {
    color:darkblue;
}

.home button{
    align-items: center;
}
.home button:hover{
    background-color: lightgray;
}

.home button:active{
    background-color: white;
}

.viewFile {
    background-position: center;
    background-color: deepskyblue !important;
    min-width: 700px;
}

.viewFile input[type=button]:hover{
    background-color: lightgray;
}

.viewFile input[type=button]:active{
    background-color: white;
}

.viewFile input[type=button] {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
}

.editFiles {
    background-position: center;
    background-color: deepskyblue !important;
    width: 100%;
    height: 100vh;
}

.editFiles input[type=submit]:hover{
    background-color: lightgray;
}

.editFiles input[type=submit]:active{
    background-color: white;
}

.editFiles input[type=submit]{
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
}

.editFiles input[type=submit]:hover{
    background-color: lightgray;
}

.editFiles input[type=submit]:active{
    background-color: white;
}

.editFiles input[type=button] {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
}

.editFiles input[type=button]:hover{
    background-color: lightgray;
}

.editFiles input[type=button]:active{
    background-color: white;
}

.fileButtons input[type=button] {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
}

.fileButtons button:hover{
    background-color: lightgray;
}

.fileButtons button:active{
    background-color: white;
}

.home {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color:deepskyblue;
}

.home h1 {
    text-align: center;
}

.homeButtons input[type=button]{
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
    display: flex;
}

.homeButtons input[type=button]:hover{
    background-color: lightgray;
}

.homeButtons input[type=button]:active{
    background-color: white;
}

.uploadedFiles {
    background-color: deepskyblue;
}

.logout {
    height: 20px;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.admin {
    width: 100%;
    height: 100%;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    text-align: center;
    color: black;
    background-color:white;
}

th {
    background-color:lightskyblue;
    color:white;
}

hr {
    border: 3px solid darkblue;
}

.uploadedPosts {
    background-color: deepskyblue;
}