*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: normal;
}

.center {
    text-align: center;
}

button {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
}

input {
    margin: 10px;
}

.login {
    width: 100%;
    height: 100vh;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
    display: flex;
}

.login label {
    color:darkblue;
}

.login button:hover{
    background-color: lightgray;
}

.login button:active{
    background-color: white;
}

.login form {
    margin: auto;
}

.registration {
    width: 100%;
    height: 100vh;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
    display: flex;
}

.registration label {
    color:darkblue;
}

.registration button:hover{
    background-color: lightgray;
}

.registration button:active{
    background-color: white;
}

.registration form {
    margin: auto;
}

.registration input[type=button] {
    padding: 5px 5px;
    border-radius: 3px;
    border: none;
    margin: 10px;
    background-color: snow;
    text-align: center;
}

.fileButtons {
    width: 100%;
    text-align: center;
    position: absolute;
}

.logout {
    height: 20px;
    width: 100px;
    margin: 0 auto;
    display: block;
}

.admin {
    width: 100%;
    height: 100%;
    background-position: center;
    align-items: center;
    text-align: center;
    background-color:deepskyblue;
}

table, th, td {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px;
    text-align: center;
    color: black;
    background-color:white;
}

th {
    background-color:lightskyblue;
    color:white;
}

hr {
    border: 3px solid darkblue;
}