<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Edit Files</title>
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="editFiles">
            <form method="POST" action="" id="upload-file" enctype="multipart/form-data">
                <input type="file" id="csvFile" accept=".csv" name="file">
            </form>
            <input type="submit" onclick="uploadFile()" value="Submit">
            <div class="uploadedFiles">
                {% if uploadedFiles %}
                    <h3>Files you've uploaded</h3>
                    {% for file in uploadedFiles %}
                        <ul>
                            <li> <a href = "/files/{{file}}">{{file}}</a></li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
            <div class='fileButtons'>
                <form>
                    <input type="button" onclick="toHomePage()" value="Return">
                </form>
            </div>
            <input type="button" onclick="logOut()" value="Log Out" />
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>