<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Homepage</title>
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="home">
            <h1>Home page</h1>
            <div class="home">
                <input type="button" onclick="toFilePage()" value="Upload Files" />
                <form>
                    <input type="text" id="username" name="username" placeholder="Username">
                    <button type="button" id = "searchbutton" onclick="toUserPage()">Search User</button><br>
                </form>
                <input type="button" onclick="logOut()" value="Log Out" />
            </div>
            
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>