<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Homepage</title>
        <link href="../static/styles.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h1>Home page</h1>
        <div class="home">
            <form>

            </form>
        </div>
        <div class="homeButtons">
            <p><input type="button" onclick="uploadFile()" value="Upload Files" /></p>
            <p><input type="button" onclick="logOut()" value="Log Out" /></p>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>