<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Registration</title>
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="registration">
            <form>
                <label for="user_name">USERNAME:</label><br>
                <input type="text" id="newUsername" name="newUsername" placeholder="Username"><br>
                <label for="user_name">NAME:</label><br>
                <input type="text" id="newName" name="newName" placeholder="Name"><br>
                <label for="password">PASSWORD:</label><br>
                <input type="password" id="newPassword" name="newPassword" placeholder="Password"><br>
                <button type="button" id = "registerButton" onclick="registerUser()">Register</button>
            </form>
        </div>
        <p><input type="button" onclick="logOut()" value="Log Out" /></p>
        <script src="../static/script.js"></script>
    </body>
</html>