<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>User Account</title>
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="user">
            <h1>User Account</h1>
            <div class="user">
                <input type="button" onclick="toFilePage()" value="Upload Files" />
                <input type="button" onclick="logOut()" value="Log Out" />
            </div>
            <div class="uploadedPosts">
                {% if uploadedPosts %}
                    <h3>Posts by you:</h3>
                    {% for i in range(0,length) %}
                        <ul>
                            <li>
                                <img src="{{uploadedPosts[i]}}" style="width:400px;height:400px;"><br>
                            </li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>

        </div>
        <script src="../static/script.js"></script>
    </body>
</html>