<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>View Files</title>
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="viewFile">
            <h1 class="center">{{name}} Page</h1>
            <table>
                <thead>
                    {% for column in columns %}
                        <th>{{column}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for i in range(rows) %}
                        <tr>
                            {% for j in data[i] %}
                                <td>{{j}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" onclick="logOut()" value="Log Out"/>
            <input type="button" onclick="makeBarGraph()" value="Bar Graph"/>
            <input type="button" onclick="makeLineGraph()" value="Line Graph" />
            <input type="button" onclick="makePieGraph()" value="Pie Graph"/>
        </div>
        <input type="button" onclick="backToFiles()" value="Back"/>
        <script src="../static/script.js"></script>
    </body>
</html>