<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>View Files</title>
        <link href="../static/style.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="viewFile">
            <h1 class="center">{{name}} Page</h1>
            <table>
                <thead>
                    {% for column in columns %}
                        <th>{{column}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    {% for i in range(rows) %}
                        <tr>
                            {% for j in data[i] %}
                                <td>{{j}}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="button" onclick="logOut()" value="Log Out"/>
            <br>
            <h2>Make Pie Graph</h2>
            <label for="title">Graph Title:</label><br>
            <input type="text" id="graphTitle" name="title" placeholder="Title"><br>
            <label for="user_name">Row Number:</label><br>
            <input type="number" id="rowNumber" name="rowNumber" placeholder="Row"><br>
            <input type="button" onclick="makePieGraph()" value="Pie Graph"/>
            
            <h2>Make Bar Graph</h2>
            <label for="btitle">Title:</label><br>
            <input type="text" id="bTitle" name="btitle" placeholder="Title"><br>

            <label for="bRowNumber">Data Label:</label><br>
            <input type="text" id="bDataLabel" name="bDataLabel" placeholder="DLabel"><br>

            <label for="bQuanLabel">Quantity Label:</label><br>
            <input type="text" id="bQuanLabel" name="bQuanLabel" placeholder="QLabel"><br>

            <label for="xlabelBar">X Label:</label><br>
            <input type="text" id="xlabelBar" name="xlabelBar" placeholder="XLabel"><br>

            <label for="ylabelBar">Y Label:</label><br>
            <input type="text" id="ylabelBar" name="ylabelBar" placeholder="YLabel"><br>
            <input type="button" onclick="makeBarGraph()" value="Bar Graph"/>
            
            <input type="button" onclick="makeLineGraph()" value="Line Graph" />
            <input type="button" onclick="backToFiles()" value="Back"/>
        </div>
        <script src="../static/script.js"></script>
    </body>
</html>